
/* sessionStorage - localStorage */
.form {
  margin-bottom: 1rem;
}

.form__field {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  margin: 0 1rem;
}

/* Drag and Drop */
.gc-logo {
  width: 7rem;
  height: 7rem;
  cursor: grab;
}

.drop-zone {
  display: grid;
  place-items: center;
  width: 30rem;
  height: 20rem;
  border: .1rem dotted #000;
}