/* RESET STYLES */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.container  {
  margin-top: 3rem;
}

.form {
  display: flex;
  justify-content: space-around;
  width: 40rem;
  
}

label {
  font-size: 1.8rem;
  color: #fff;
  align-self: center;
}

.button {
  border-radius: 1rem;
  border: none;
  padding: .5rem 1rem;
  color: #fff;
  background-color: orangered;
}

.tasks {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1rem;
}

.text {
  font-size: 1.5rem;
  color: #fff;
  font-variant: small-caps;
}

.text:nth-child(even) {
  color:rgb(255, 238, 0);
}