/* FROGGER STYLES */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* RESET STYLES */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Fredoka One', cursive, Arial, Helvetica, sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: content-box;
}

h1, h2, span, button {
  color: rgba(38, 70, 83);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GRID GAME STYLE */
/* game board */
.grid {
  display: flex;
  flex-wrap: wrap;
  border: .1rem solid #000;
  width: 36rem;
  height: 36rem;
}

/* game blocks */
.grid div {
  width: 4rem;
  height: 4rem;
}

/* ending-block */
.ending-block {
  background-color: rgba(255, 89, 94);
}

/* starting-block */
.starting-block {
  background-color: rgba(106, 76, 147);
}

/* log */
.log-left, 
.log-right {
  background-color: rgba(25, 130, 196);
}

/* car */ 
.car-left,
.car-right {
  background-color: rgb(206, 206, 206);
}

/* frog */
.frog {
  /* background-color: rgb(138, 201, 38); */
  background-image: url(/practica_JS/7games/frogger/image/froggy_sf.webp);
  background-size: cover;
}

/* logs */
.l1, .l2, .l3 {
  background-color: #dda15e;
}

.l4, .l5 {
  background-color: rgba(25, 130, 196);
}

/* cars */
.c1 {
  background-color: rgb(171, 60, 64);
}

.c2, .c3 {
  background-color: rgb(206, 206, 206);
}