@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,700;1,500&display=swap');

/* RESET STYLES */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, p, span, button {
  color: rgba(38, 70, 83);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* BODY */
body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.games_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */
.rps {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 40rem;
  padding: 1rem;
  border: .1rem solid #000;
  border-radius: 1rem;
  box-shadow: .2rem .2rem 2rem #000;
  backdrop-filter: blur(2.2rem) saturate(180%);
  transition: width 2s, height 2s;
  background: linear-gradient(45deg, rgba(42, 157, 143,1) 35%, rgba(244, 162, 97, 1) 79%);
}

/* GAME TITLE */
.rps_title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

figure {
  margin: 0;
  padding: 0;
  width: 6rem;
  height: 6rem;
  order: -1;
}

.main_title {
  align-self: center;
  text-transform: capitalize;
  margin: 1rem 0 2rem;
  font-size: 3.5rem;
}

/* RESULT */
.rps h2 {
  align-self: center;
  font-size: 3rem;
  margin: 2.5rem 0;
  text-shadow: 0 0 2rem #fff;
}

@media screen and (min-width: 768px) {

  .rps {
    width: 60rem;
  }

  .main_title {
    margin: 2rem 0;
    font-size: 4.2rem;
  }

  figure {
    order: 1;
  }

  .rps h2 {
    font-size: 4rem;
  }

}

/* GAME DISPLAY */
.display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 13rem;
  justify-items: center;
  align-items: center;
  gap: .5rem;
}

/* Player Display */
.display h2 {
  font-size: 2.8rem;
  font-variant: small-caps;
  text-shadow: .2rem .2rem 2rem #F4A261;
}

/* VS style */
.display p {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  font-size: 5rem;
  margin: 0;
}

/* Computer Display */
.display h2:last-of-type {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-shadow: .2rem .2rem 2rem #2A9D8F;
}

/* USER and Computer Choice */
.display span {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 
  .1rem .1rem .2rem rgba(38, 70, 83), 
  0 0 2.5rem rgba(0, 0, 255), 
  0 0 .5rem rgba(0, 0, 139);
}

@media screen and (min-width: 768px) {

  .display {
    grid-template-rows: 1fr 19rem;
  }
  
  .display h2 {
    font-size: 3.5rem;
  }

  .display p {
    font-size: 8rem;
  }

  .display span {
    font-size: 2.8rem;
  }

}

/* GAME BUTTONS */
.buttons {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 3rem 0;
}

button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  border: none;
  background-color: inherit;
  box-shadow: 0 0 1rem #000;
  cursor: pointer;
}

button:active {
  background-color: #F4A261;
  transform: scale(0.8);
}