/* SPACE INVADERS STYLES */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* COLORS:
Yale Blue : 0A427F;
Yellow Green Crayola: CBE896;
Cambridge Blue: AAC0AA;
Peach: FCDFA6;
Frostbite: EF27A6;
 */

/* RESET STYLES */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Fredoka One', cursive, Arial, Helvetica, sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: content-box;
}

h1, h2, span, button {
  color: rgba(241, 233, 218, 1);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* GAME BOARD */
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  height: 60rem;
  border: .1rem solid #000;
  background-image: url(./image/universe1.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.grid div {
  width: 4rem;
  height: 4rem;
}

.invaders {
  background-color: #EF27A6;
  border-radius: 50%;
}

.shooter {
  background-color: #AAC0AA;
  clip-path: polygon(50% 0, 0 70%, 45% 32%, 0 100%, 100% 100%, 55% 31%, 100% 70%);
}